@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* ### Primary */

  --light-red-cta-text: hsl(356, 100%, 66%);
  --very-light-red-cta-hover-background: hsl(355, 100%, 74%);
  --very-dark-blue-headings: hsl(208, 49%, 24%);

  /* ### Neutral */

  --white-text: hsl(0, 0%, 100%);
  --grayish-blue-footer-text: hsl(240, 2%, 79%);
  --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

main {
  width: 100%;
}

.main-header {
  width: 100%;
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  position: relative;
  background-color: var(--very-light-red);
  overflow: hidden; /* Ensure the image does not overflow the header */
  z-index: 1;
  border-bottom-left-radius: 4rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header-background-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-40%) scale(2);
  width: auto;
  height: 170%;
  z-index: 0;
}

.header-background-desktop {
  display: none;
}

.navbar,
.header-heading,
.header-buttons-container {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-nav {
  display: none;
}

.nav-links {
  position: absolute;
  top: -400px;
  background-color: white;
  padding: 4rem 1rem;
  transition: top 0.5s ease-in-out;
  z-index: 10;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 0.8rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 17rem;
}

hr {
  color: var(--grayish-blue-footer-text);
  width: 100%;
  height: 0.7rem;
}

.nav-buttons {
  gap: 1rem;
}

.login {
  background: none;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.sub-links {
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  background-color: var(--grayish-blue-footer-text);
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
}

.sub-links.show {
  opacity: 1;

  height: 12rem;
}

.nav-links.active {
  top: 3.5rem;
}

.nav-logo {
  width: 5rem;
}

.desktop-nav-logo {
  display: none;
}

.arrow-img.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.line {
  height: 0.2rem;
  width: 100%;
  background-color: white;
  transition: 0.5s;
}
.hamburger.active .line1 {
  transform: rotate(45deg) translate(-2px, 13px);
}

.hamburger.active .line2 {
  opacity: 0;
}

.hamburger.active .line3 {
  transform: rotate(-45deg) translate(1px, -15px);
}

.header-heading {
  color: var(--white-text);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.heading-subtitle {
  color: rgb(236, 209, 209);
  font-size: 1.2rem;
}

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button {
  padding: 1rem;
  border-radius: 1.5rem;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
}

.start-free {
  color: var(--light-red-cta-text);
  background-color: white;
}

.start-free:hover {
  background: var(--very-light-red-cta-hover-background);
  color: white;
}

.learn-more {
  color: white;
  background: none;
  border: 2px solid white;
}

.learn-more:hover {
  background-color: white;
  color: var(--light-red-cta-text);
}

.flex-display {
  display: flex;
  flex-direction: column;
}

.illustration-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 3rem;

  gap: 1.5rem;
  text-align: center;
}

.illustration-img {
  align-items: center;
  justify-content: center;
}

.illustration-heading {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--very-dark-blue-headings);
}

.illustration-info {
  gap: 1rem;
}

.illustration-paragraphs {
  gap: 2rem;
}

.paragraph {
  padding: 0 2rem;
  gap: 1rem;
  line-height: 2rem;
  color: var(--very-dark-grayish-blue-body-copy);
}

.infrastructure-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 19rem;
  position: relative;
  background-color: var(--very-dark-gray-blue);
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  height: 35rem;
  /* overflow: hidden; */
}

.infrastructure-background-img {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 100%;
  z-index: 0;
}

.infrastructure-background-img img {
  width: 20rem;
  position: absolute; /* Position it properly within its container */
}

.infrastructure-info {
  position: relative;
  z-index: 1;
}

.infrastructure-img {
  position: relative;
  z-index: 2;
  top: -11rem;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}

.infrastructure-paragraph {
  color: white;
  position: relative;
  top: -12rem;
  text-align: center;
  gap: 1rem;
  line-height: 1.5rem;
  padding: 0 2rem;
}

.infrastructure-heading {
  font-size: 2rem;
  line-height: 2.5rem;
}

.hidden-overflow {
  overflow: hidden;
}

.footer {
  margin-top: 3rem;
  background-color: var(--very-dark-black-blue-footer-background);
  border-top-right-radius: 4rem;
  gap: 3rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  color: white;
  font-size: 3rem;
  font-weight: 600;
}

.footer-nav {
  justify-content: center;
  gap: 2rem;
}

.footer-links {
  text-align: center;
  gap: 1rem;
}

.footer-nav h4 {
  color: white;
}

.footer-links a {
  color: var(--grayish-blue-footer-text);
  text-decoration: none;
}

.footer-links a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.illustration-img-desktop {
  display: none;
}

.infrastructure-desktop-img {
  display: none;
}

@media screen and (min-width: 600px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .mobile-nav-logo {
    display: none;
  }

  .desktop-nav-logo {
    display: block;
  }

  .desktop-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desktop-nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .desktop-nav-link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .desktop-nav-link a {
    text-decoration: none;
    color: var(--white-text);
    font-weight: 600;
  }

  .desktop-nav-link a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .desktop-nav-sub-link {
    display: none;
  }

  .desktop-nav-link a:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .login {
    color: var(--white-text);
  }

  .signup {
    color: var(--light-red-cta-text);
  }

  .heading-title {
    font-size: 3rem;
  }

  .heading-subtitle {
    font-size: 1.6rem;
  }

  .section1 {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .illustration-img {
    flex: 1;
  }

  .illustration-heading {
    font-weight: 600;
  }

  .illustration-paragraphs {
    flex: 1;
  }

  .illustration-img-mobile {
    display: none;
  }

  .illustration-img-desktop {
    display: block;
    width: 38rem;
  }

  .section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    justify-content: start;
    padding: 3rem;
  }

  .footer-links {
    text-align: left;
  }

  .infrastructure-section {
    height: 20rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 14rem;
  }

  .infrastructure-mobile-img {
    display: none;
  }

  .infrastructure-desktop-img {
    display: block;
  }

  .desktop-infra-img {
    margin-top: -8rem;
    width: 30rem;
  }

  .infrastructure-paragraph {
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 4rem;
  }

  .desktop-nav-link {
    position: relative;
  }

  .desktop-nav-sub-link {
    display: none;

    position: absolute;
    top: 1.5rem;
    z-index: 1;
    background-color: white;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
  }

  .desktop-nav-sub-link li {
    list-style: none;
    color: var(--very-dark-grayish-blue-body-copy);
  }

  .desktop-nav-sub-link li:hover {
    color: var(--light-red);
    cursor: pointer;
    font-weight: 600;
  }

  .show-desktop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .desktop-rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
  }
}
