@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* ### Primary */

  --light-red-cta-text: hsl(356, 100%, 66%);
  --very-light-red-cta-hover-background: hsl(355, 100%, 74%);
  --very-dark-blue-headings: hsl(208, 49%, 24%);

  /* ### Neutral */

  --white-text: hsl(0, 0%, 100%);
  --grayish-blue-footer-text: hsl(240, 2%, 79%);
  --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

.main-header {
  width: 100%;
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  position: relative;
  background-color: var(--very-light-red);
  overflow: hidden; /* Ensure the image does not overflow the header */
  z-index: 1;
  border-bottom-left-radius: 4rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header-background-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-40%) scale(2);
  width: auto;
  height: 170%;
  z-index: 0;
}

.navbar,
.header-heading,
.header-buttons-container {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  position: absolute;
  top: -400px;
  background-color: white;
  padding: 4rem 1rem;
  transition: top 0.5s ease-in-out;
  z-index: 10;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 0.8rem;
  overflow: scroll;
  height: 21rem;
}

.nav-links::-webkit-scrollbar {
  width: 60px; /* Width of the scrollbar */
}

.nav-links::-webkit-scrollbar-track {
  background: black; /* Background of the scrollbar track */
}

.nav-links::-webkit-scrollbar-thumb {
  background: black; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Round edges of the scrollbar thumb */
}

.nav-links::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.sub-links {
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  background-color: var(--grayish-blue-footer-text);
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
}

.sub-links.show {
  opacity: 1;

  height: 12rem;
}

.nav-links.active {
  top: 3.5rem;
}

.nav-logo {
  width: 5rem;
}

.arrow-img.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.line {
  height: 0.2rem;
  width: 100%;
  background-color: white;
  transition: 0.5s;
}
.hamburger.active .line1 {
  transform: rotate(45deg) translate(-2px, 13px);
}

.hamburger.active .line2 {
  opacity: 0;
}

.hamburger.active .line3 {
  transform: rotate(-45deg) translate(1px, -15px);
}

.header-heading {
  color: var(--white-text);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.heading-subtitle {
  color: var(--white-text);
  font-size: 1.2rem;
}

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button {
  padding: 1rem;
  border-radius: 1.5rem;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
}

.start-free {
  color: var(--light-red-cta-text);
  background-color: white;
}

.start-free:hover {
  background: var(--very-light-red-cta-hover-background);
  color: white;
}

.learn-more {
  color: white;
  background: none;
  border: 2px solid white;
}

.learn-more:hover {
  background-color: white;
  color: var(--light-red-cta-text);
}
